body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    padding-bottom: 60px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-top: 50px;
    padding-bottom: 100px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#search-label {
    /*position: relative;
    top: 10px;
    left: -12px;*/
}

#main-footer {
    position: absolute;
    height: 60px;
    background: #263238;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: solid #FF3D00 4px;
}

#post-footer {
    height: auto;
    width: 100%;
}

#markdown {
    height: 200px;
    border: solid #2196f3 4px;
    width: 100%;
    padding-bottom: 50px;
    overflow-y: scroll;
}

#markdown-toolbar {
    padding-bottom: 10px;
}

#markdown-wrapper {
    padding-bottom: 10px;
}

#tag {
    
}

.tags-row {
    padding-top: 10px;
}

.tags-row a {
    background: #607d8b;
    font-size: 12px;
    height: 24px;
    padding-top: 0px;
}

.vote-span {
    width: 100%;
    float: left;
    text-align: center;
}

#vote-count {
    font-size: 24px;
}

#comments-area {
    padding-top: 20px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

#create-comment-form {
    display: none;
}

#comment-textarea {
    width: 100%;
}


