#body {
    background: url("images/texture.png") repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    /*overflow: hidden; ??*/ 
}

#wrapper {
    min-height: 100%;
	position: relative;
	width: 100%;
    padding-bottom: 60px;
    overflow: hidden;
}

.form-control {
    width: 100%;
}



#body #main-nav {
    /*background: rgba(255, 255, 255, 0.9);*/
    background: #fff;
    
}

#box-blue1 {
    background: #76ff03;
}
#box-blue2 {
    background: #00b0ff;
}
#box-blue3 {
    background: #40c4ff;
}

#profile-wrapper {
    background: rgba(255, 255, 255, 0.2);
}

#main-cont {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/*#main-nav {
    background: #424242;
    color: #fff;
    border-bottom: solid #03a9f4 5px;
}

    #main-nav a {
        color: white;
    }

    #main-nav a:hover {
        color:  #2196F3;         
    }*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#search-label {
    /*position: relative;
    top: 10px;
    left: -12px;*/
}





#markdown {
    height: 200px;
    border: solid #2196f3 4px;
    width: 100%;
    padding-bottom: 50px;
    overflow-y: scroll;
}

#markdown-toolbar {
    padding-bottom: 10px;
}

#markdown-wrapper {
    padding-bottom: 10px;
}


.tags-row {
    padding-top: 10px;
}

.tags-row a {
    background: #607d8b;
    font-size: 12px;
    height: 24px;
    padding-top: 0;
    margin-right: 0;
}

.vote-span {
    width: 100%;
    float: left;
    text-align: center;
}

#vote-count {
    font-size: 24px;
}

#comments-area {
    padding-top: 20px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

#comment-form-wrapper {
    display: none;
}

#commentTextarea {
    width: 100%;
}

#answers-area .answer-wrapper {
    /*padding-bottom: 40px;*/
    margin-bottom: 20px;
    background: #f5f5f5;
}

#answers-area .answer-wrapper .answer-content {
    padding-top: 10px;
}

.post-wrapper {
    background: #f5f5f5;
    padding-bottom: 20px;
}

#home-page-filters {
    padding-top: 20px;
}

#profile-wrapper {
    padding-top: 20px;
}

#profilePicture {
    max-height: 300px; 
    max-width: 200px; 
    width: 100%; 
    height: 200px; 
    margin-bottom: 10px;
}

/* Main site navigation */
#main-nav {
    /*border-bottom: solid #03a9f4 4px;*/
    box-shadow: none;
    background: #eeeeee;
}

    #main-nav a {
        color: #263238;
    }

    #main-nav a:hover {
        color: #03a9f4;
    }

/* Ponistavanje bordure kod navbara kod mobilnih verzija */
/*.navbar {
    /*border-bottom: solid #00bfa5 2px;
    border: 0 !important;
}*/

.navbar-collapse {
    border: 0 !important;
}

#logo {
    width: 150px;
    height: 40px;
    position: relative;
    bottom: 10px;
}

/* Footer styles */

#main-footer {
    position: absolute;
    height: 60px;
    background: #ffffff;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: solid #2196f3 4px;
}

#post-footer {
    height: auto;
    width: 100%;
}