body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    padding-bottom: 60px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-top: 50px;
    padding-bottom: 100px;
}

/*#main-nav {
    background: #424242;
    color: #fff;
    border-bottom: solid #03a9f4 5px;
}

    #main-nav a {
        color: white;
    }

    #main-nav a:hover {
        color:  #2196F3;         
    }*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#search-label {
    /*position: relative;
    top: 10px;
    left: -12px;*/
}

#main-footer {
    position: absolute;
    height: 60px;
    background: #263238;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: solid #FF3D00 4px;
}

#post-footer {
    height: auto;
    width: 100%;
}

#markdown {
    height: 200px;
    border: solid #2196f3 4px;
    width: 100%;
    padding-bottom: 50px;
    overflow-y: scroll;
}

#markdown-toolbar {
    padding-bottom: 10px;
}

#markdown-wrapper {
    padding-bottom: 10px;
}

#tag {
    
}

.tags-row {
    padding-top: 10px;
}

.tags-row a {
    background: #607d8b;
    font-size: 12px;
    height: 24px;
    padding-top: 0px;
    margin-right: 0px;
}

.vote-span {
    width: 100%;
    float: left;
    text-align: center;
}

#vote-count {
    font-size: 24px;
}

#comments-area {
    padding-top: 20px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

#comment-form-wrapper {
    display: none;
}

#commentTextarea {
    width: 100%;
}

#answers-area .answer-wrapper {
    /*padding-bottom: 40px;*/
    margin-bottom: 20px;
    background: #f5f5f5;
}

#answers-area .answer-wrapper .answer-content {
    padding-top: 10px;
}

.post-wrapper {
    background: #f5f5f5;
    padding-bottom: 20px;
}

#home-page-filters {
    padding-top: 20px;
}

#profile-wrapper {
    background: #f5f5f5;
    padding-top: 20px;
}

/*#FirstName {
    width: 100%;
}*/

/*#first-name-div {
    width: 50%;
}*/
