@model ForumETF.Models.Comment

<div class="col-md-12 comment">
    <div class="col-md-12">
        @Model.Content
    </div>
    <div class="col-md-12">
        <i class="fa fa-user"></i>&nbsp;autor: <a href="#" class="btn-link">@Model.User.UserName</a>&nbsp; | &nbsp;
        <i class="fa fa-calendar"></i>&nbsp;datum objave: 16.12.2014
    </div>
</div>

