@model UserViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-md-12" id="profile-wrapper">
        <div id="profile-left-column" class="col-md-3">
            <div id="image-wrapper" class="col-md-12">
                @Html.ProfileImageFor(Model.AvatarUrl, new {id = "profile-image", @class = "img-rounded", alt = "profile-pic"})
            </div>
            <div id="profile-nav" class="col-md-12">
                @Html.Partial("_Navigation")
            </div>
        </div>
        <div id="profile-right-column" class="col-md-9">
            <div id="profile-content" class="">
                @Html.Partial("_Details")
            </div>
        </div>
    </div>
</div>