<div class="col-md-12">
    <h3>Tag cloud</h3>
    <br />
    <nav>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Matematika</a></li>
            <li class="list-group-item"><a href="#">Fizika</a></li>
            <li class="list-group-item"><a href="#">Objektno orijentisano programiranje</a></li>
            <li class="list-group-item"><a href="#">Programski jezici</a></li>
            <li class="list-group-item"><a href="#">Opsti smjer</a></li>
            <li class="list-group-item"><a href="#">Osnovi elektrotehnike 2</a></li>
        </ul>
    </nav>
</div>
