<div class="row" id="search-section">
    <div class="col-md-12">
        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "posts",
        }, new {id = "search-form", @class = "form-horizontal"}))
        {
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" name="searchTerm" class="form-control" id="search" placeholder="Unesite pojam za pretragu"/>
                </div>
                <div class="col-md-2">
                    <button type="submit" id="btn-search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Pretraga</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row" id="posts-section">
    <div class="col-md-12" id="posts-wrapper">
        <div id="post-list" class="col-md-9">
            @Html.Partial("_Posts")
        </div>
        <div id="widgets" class="col-md-3">
            @{
                Html.RenderAction("CategoriesWidget", "Home");
            }
            @Html.Partial("_TagsWidget")
        </div>
    </div>
</div>