@model PagedList.IPagedList<ForumETF.Models.Post>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<!-- search row -->
<div class="row" id="search-section">
    <div class="col-md-8">

        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "posts",
        }, new { id = "search-form" }))
        {
            <div class="col-md-8">
                <div class="form-group">
                    <input type="text" name="searchTerm" class="form-control" id="search" value="Unesite pojam za pretragu" />
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Pretraga</button>
            </div>
        }

    </div>
    <div class="col-md-8" id="home-page-filters">
        <div class="col-md-12">
            <h3>Postovi iz kategorije: @ViewBag.Category </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8" id="posts">
        @Html.Partial("_Posts")
    </div>
    <div class="col-md-3 col-md-offset-1">

        @{
            Html.RenderAction("CategoriesWidget", "Home");
        }

        <div class="col-md-12">
            <h3>Tag cloud</h3>
            <br />
            <nav>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Matematika</a></li>
                    <li class="list-group-item"><a href="#">Fizika</a></li>
                    <li class="list-group-item"><a href="#">Objektno orijentisano programiranje</a></li>
                    <li class="list-group-item"><a href="#">Programski jezici</a></li>
                    <li class="list-group-item"><a href="#">Opsti smjer</a></li>
                    <li class="list-group-item"><a href="#">Osnovi elektrotehnike 2</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>

